{# templates/hotels/rooms.html.twig #}
<div class="room" id="accordion">
    <div id="roomA">
      <h5 class="mb-0 room__details">
        <button class="btn btn-link " data-toggle="collapse" data-target="#hotel-{{hotels.id}}a" aria-expanded="false">
          <span class="room__details--name">{{hotels.roomA}}</span>
          <span class="room__details--request orange">On Request</span>
          <span class="room__details--details">
              <img src="https://img.icons8.com/android/20/45b3e0/sort-down.png">Details
          </span>
          <span class="room__details--price"><strong>{{hotels.roomPriceA}}</strong> <span class="small">USD per night</span></span>
        </button>

        <!-- Button trigger modal -->
        <button type="button" class="room__details--request" data-toggle="modal" data-target="#modal-{{hotels.id}}">
            <span>Request</span>
        </button>
      </h5>
        {% block roomdetailsA %}
            {{ include('hotels/roomdetailsA.html.twig') }}
        {% endblock %}
    </div>
    <div id="roomB">
        <h5 class="mb-0 room__details">
          <button class="btn btn-link " data-toggle="collapse" data-target="#hotel-{{hotels.id}}b" aria-expanded="false">
            <span class="room__details--name">{{hotels.roomB}}</span>
            <span class="room__details--request orange">On Request</span>
            <span class="room__details--details">
                <img src="https://img.icons8.com/android/20/45b3e0/sort-down.png">Details
            </span>
            <span class="room__details--price"><strong>{{hotels.roomPriceB}}</strong> <span class="small">USD per night</span></span>
          </button>
  
          <!-- Button trigger modal -->
          <button type="button" class="room__details--request" data-toggle="modal" data-target="#modal-{{hotels.id}}">
              <span>Request</span>
          </button>
        </h5>
        {% block roomdetailsB %}
            {{ include('hotels/roomdetailsB.html.twig') }}
        {% endblock %}
      </div>

      <div id="roomC">
        <h5 class="mb-0 room__details">
          <button class="btn btn-link " data-toggle="collapse" data-target="#hotel-{{hotels.id}}c" aria-expanded="false">
            <span class="room__details--name">{{hotels.roomC}}</span>
            <span class="room__details--request orange">On Request</span>
            <span class="room__details--details">
                <img src="https://img.icons8.com/android/20/45b3e0/sort-down.png">Details
            </span>
            <span class="room__details--price"><strong>{{hotels.roomPriceC}}</strong> <span class="small">USD per night</span></span>
          </button>
  
          <!-- Button trigger modal -->
          <button type="button" class="room__details--request" data-toggle="modal" data-target="#modal-{{hotels.id}}">
              <span>Request</span>
          </button>
        </h5>
        {% block roomdetailsC %}
            {{ include('hotels/roomdetailsC.html.twig') }}
        {% endblock %}
      </div>


 


</div>