<div id="hotel-{{hotels.id}}c" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <span class="badge badge-secondary">Balcony</span>
                <span class="badge badge-secondary">Ocean View</span>
                <div class="dates p-2 text-center">
                    <span class="borders">Fri Jan. 17</span>
                    <span class="dates-price"><strong>{{hotels.roomPriceC}}</strong> <span class="small">USD</span></span>
                </div>
                <p class="m-0 mt-2 terms">Conditions and Offers:</p>
                <p class="m-0 terms gray">Meal Plan: Breakfast Included</p>
                <p class="m-0 mt-2 terms">Cancellation Policy:</p>
                <p class="m-0 terms red">Penalty of one booked night when cancelling within 14 days.</p>
            </div>
            <div class="col-md-6">
                <table class="text-right">
                    <tr>
                        <td>Price:</td><td>{{hotels.roomPriceC}} <span class="small">USD</span></td>
                    </tr>
                    <tr>
                        <td>Taxes 14%:</td><td>{{hotels.roomPriceC}} <span class="small">USD</span></td>
                    </tr>
                    <tr>
                        <td>Fees 0.00:</td><td>{{hotels.roomPriceC}} <span class="small">USD</span></td>
                    </tr>
                    <tr>
                        <td>Total:</td><td>{{hotels.roomPriceC}} <span class="small">USD</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>